# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
pubspec.lock
/bin/input/phrases.json
/config/secret.txt
/bin/db/phrases.db
/phrases.sqlite
/bin/output/app_zh.arb
/bin/input/app_en.arb
/bin/output/app_af.arb
/bin/output/app_am.arb
/bin/output/app_ar.arb
/bin/output/app_bg.arb
/bin/output/app_bn.arb
/bin/output/app_bs.arb
/bin/output/app_ca.arb
/bin/output/app_cs.arb
/bin/output/app_da.arb
/bin/output/app_de.arb
/bin/output/app_el.arb
/bin/output/app_en.arb
/bin/output/app_es.arb
/bin/output/app_et.arb
/bin/output/app_fa.arb
/bin/output/app_fi.arb
/bin/output/app_fil.arb
/bin/output/app_fr.arb
/bin/output/app_gl.arb
/bin/output/app_he.arb
/bin/output/app_hi.arb
/bin/output/app_hr.arb
/bin/output/app_hu.arb
/bin/output/app_hy.arb
/bin/output/app_id.arb
/bin/output/app_is.arb
/bin/output/app_it.arb
/bin/output/app_iu.arb
/bin/output/app_ja.arb
/bin/output/app_ka.arb
/bin/output/app_kk.arb
/bin/output/app_km.arb
/bin/output/app_ko.arb
/bin/output/app_ky.arb
/bin/output/app_lt.arb
/bin/output/app_lv.arb
/bin/output/app_mk.arb
/bin/output/app_ml.arb
/bin/output/app_mn.arb
/bin/output/app_ms.arb
/bin/output/app_my.arb
/bin/output/app_ne.arb
/bin/output/app_nl.arb
/bin/output/app_no.arb
/bin/output/app_pl.arb
/bin/output/app_ps.arb
/bin/output/app_pt.arb
/bin/output/app_ro.arb
/bin/output/app_ru.arb
/bin/output/app_sk.arb
/bin/output/app_sl.arb
/bin/output/app_sq.arb
/bin/output/app_sr.arb
/bin/output/app_sv.arb
/bin/output/app_ta.arb
/bin/output/app_th.arb
/bin/output/app_tr.arb
/bin/output/app_uk.arb
/bin/output/app_ur.arb
/bin/output/app_uz.arb
/bin/output/app_vi.arb
/pubspec.lock
/archive
/bin/db/phrases_backup.db